@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    background: black;
    color: white;

}

.headtag{
    background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}